* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3a3a3a;
  --image-background: #f1e4ff;
  --button-background: #e02c6d;
  --footer-background: #0a0826;
}

/* Fonts */
body {
  @import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;700&display=swap");
  font-family: "Poppins", sans-serif;
}

/* General Styles */
.link-button {
  padding: 15px 25px;
  background: var(--button-background);
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

.link-arrow {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Hero Section Styles */
section {
  margin: 0 auto 50px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hero-image {
  background: var(--image-background);
  border-radius: 100%;
  border: 50px solid white;
  height: 320px;
  width: 320px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.596);
  margin-bottom: 15px;
}

.hero-image img {
  width: 100%;
}

.hero-content {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 340px;
  color: var(--primary-color);
}

.hero-content h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  section {
    margin: 0 auto 100px;
  }
  .hero-section {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
  }
  .hero-image {
    width: 550px;
    height: 550px;
  }
  .hero-content {
    width: 680px;
    height: 270px;
    text-align: left;
    margin-right: 135px;
  }
  .hero-content h1 {
    font-size: 28px;
    line-height: 42px;
  }
}

/* Logo section */
.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  margin: 10px 30px;
}

@media screen and (min-width: 992px) {
  .logo-section {
    margin: 0 auto 100px;
    height: 110px;
    width: 90%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    border-top: 1px solid rgba(128, 128, 128, 0.3);
  }
}

/* Collection Card Styles */
.collection-section h2 {
  text-align: center;
  font-weight: 600;
  line-height: 25px;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.items {
  display: grid;
}

.item {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.6);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 20px;
}

.item img {
  width: 100%;
  margin-bottom: 16px;
}

.item-content {
  width: 80%;
}

.item-content h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}

.item-content p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.transparent-button {
  display: flex;
  justify-content: flex-end;
}

.transparent-button button {
  background: transparent;
  color: var(--button-background);
  font-weight: 700;
  font-size: 24px;
}

@media screen and (min-width: 996px) {
  .collection-section {
    width: 80%;
  }
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Feature sectiion */

.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.feature-content {
  text-align: center;
}

.feature-content h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
}

.feature-content p {
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: 500;
}

.feature-button {
  border-radius: 0;
  font-weight: 700;
  margin-bottom: 40px;
}

.feature-image {
  margin: 0 auto;
}

.feature-image img {
  width: 500px;
}

@media screen and (min-width: 992px) {
  .feature-section {
    flex-direction: row-reverse;
  }
  .feature-content {
    text-align: left;
  }
  .feature-image {
    margin-right: 150px;
  }
}

/* Footer section */
footer {
  height: 240px;
  background: var(--footer-background);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

footer p {
  margin-bottom: 10px;
  font-size: 25px;
}
