* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3a3a3a;
  --image-background: #f1e4ff;
  --button-background: #e02c6d;
  --footer-background: #0a0826;
}

/* Fonts */
body {
  @import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;700&display=swap");
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* General Styles */

/* Hero Section Styles */
section {
  margin-bottom: 50px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hero-image {
  background: var(--image-background);
  border-radius: 100%;
  border: 50px solid white;
  height: 320px;
  width: 320px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.596);
  margin-bottom: 15px;
}

.hero-image img {
  width: 100%;
}

.hero-content {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 340px;
  color: var(--primary-color);
}

.hero-content h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px;
}

.link-button {
  padding: 15px 25px;
  background: var(--button-background);
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 20px;
}

.link-arrow {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 992px) {
  section {
    margin: 0 auto 100px;
  }
  .hero-section {
    flex-direction: row-reverse;
    width: 90%;
  }
  .hero-image {
    width: 440px;
    height: 415px;
  }
  .hero-content {
    width: 580px;
    height: 270px;
    text-align: left;
    margin-right: 135px;
  }
  .hero-content h1 {
    font-size: 52px;
    line-height: 70px;
  }
}

/* Logo section */
.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  margin: 10px 30px;
}

@media screen and (min-width: 992px) {
  .logo-section {
    margin: 0 auto 100px;
    height: 110px;
    width: 90%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    border-top: 1px solid rgba(128, 128, 128, 0.3);
  }
}
